/* 컬러 변수 */
:root {
  --point-color1: #e0462e;
  --point-color2: #ed1c24;
  --point-color3: #e0462e;
  --gray-400: #1B1B1B;
  --gray-500: #1F1F1F;
  --gray-600: #000;
}

.sub_container {
  padding-top:100px;
}

.login_contents {
  padding:120px 0 160px;
}
.contents .inner {
  max-width: 1440px;
  padding: 0 20px;
  margin:0 auto;
}

.login_page .contents {
  padding:100px 0;
}
.login_page .inner {
  max-width:448px;
  margin:0 auto;
}
.login_page .login_area {
  border:1px solid #c6c6c6;
  border-radius: 6px;
  padding:24px;
}
.login_page .login_area .input_wrap1 {
  border-radius: 6px 6px 0 0;
  border:1px solid #dadada;
  margin-top:30px;
}
.login_page .login_area input[type=text] {
  width:100%;
  border:none;
  background: none;
  height: 46px;
  padding:0 20px;
}
.login_page .login_area .input_wrap2 {
  border-radius: 0 0 6px 6px;
  border:1px solid #dadada;
  border-top:none;
  margin-bottom: 10px;
}

.login_page .login_area .row3 {
  font-size:15px;
}
.login_page .login_area .login_btn {
  display: block;
  line-height: 52px;
  background: var(--point-color1);
  color:#fff;
  text-align: center;
  border-radius: 6px;
  margin-top:30px;
}

.login_page .link_wrap {
  display: flex;
  justify-content: center;
  margin-top:15px;
  gap:0 20px;
}
.login_page .link_wrap li {
  position: relative;
}
.login_page .link_wrap li + li::before {
  content: '';
  position: absolute;
  left:-10px;
  top:50%;
  transform: translateY(-50%);
  margin-top:2px;
  width:1px;
  height: 14px;
  background: #dadada;
}
.login_page .link_wrap a {
  font-size: 15px;
  color:var(--gray-400);
}




/* 보도자료, release */
.release {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 200px 0 140px;
  padding-top: 150px;
}
.release .sub_top>h2 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -1.33px;
  padding: 30px 0 25px;
  line-height: 1;
  font-family: "Binggrae", sans-serif;
  text-align: center;
}
.release .contents .inner {
  margin-left: 20px;
  margin-right: 20px;
}
.contents .total {
  font-size: 15px;
  color: var(--gray-500);
  margin-left: 20px;
  padding-bottom: 30px;
}
.contents {
  margin-top: 40px;
}


/* 보도자료 */
.release .board_search {
  margin-bottom: 80px;
}

.board_list .td_last {
  border-bottom: none;
}


/* 글쓰기 버튼 */
.release .write_btn_wrap {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 20px;
}

.release .write_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius:40px;
  width: 100px;
  height: 35px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
  margin-right: 20px;
}

/* 글 쓰기 release-write */

.release_write .contents {
  padding: 0 20px 0 20px;
}

.release_write .contents .inner {
  padding: 25px 30px 30px 30px;
}

.board_write_wrap .col1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f9f9f9;
  text-align: center;
  white-space: nowrap;
}
.board_write_wrap .col_mid {
  background-color: #f9f9f9;
  text-align: center;
}
.board_write_wrap .col_bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f9f9f9;
  white-space: nowrap;
  text-align: center;
  border-bottom: none;
}
.board_write_wrap .col2 {
  padding: 10px 30px 10px 20px;
  border-bottom: none;
}
.board_write_wrap .name_input {
  width: 25%;
  border: solid 1px #e4e4e4;
  border-radius: 20px;
}
.board_write_wrap .write_input {
  width: 70%;
  border: solid 1px #e4e4e4;
  border-radius: 20px;
}
.board_write_wrap .inner_input {
  width:100%;
  height: 500px;
  border: solid 1px #e4e4e4;
  border-radius: 20px;
  padding: 10px;
}
.board_write_wrap textarea::placeholder {
  padding-top:226px ;
}
.board_write_wrap .file_input {
  width: 50%;
  border: solid 1px #e4e4e4;
  border-radius: 20px;
}
.board_write_wrap .file_btn {
  display: inline-flex;
  height: 43px;
  width: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-size: 16px;
  border-radius: 22px;
  margin-left: 8px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
}

.release_write .write_btn_wrap {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.release_write .write_btn {
  display: none;
}

.release_write .write_no_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius:40px;
  width: 100px;
  height: 35px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
}
.release_write .write_up_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #ed1c24, #e0462e);
  color:white;
  border-radius:40px;
  width: 100px;
  height: 35px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
  margin-left: 20px;
}





@media (max-width:1200px) {
  #header.sub_header .open_btn {
    background: #7FD1A6;
    border:none;
  }
  .sub_container {
    padding-top:80px;
  }


  .login_contents {
    padding:80px 0 120px;
  }

  /* 보도자료, release */
  .release .board_search {
    margin-bottom: 50px;
  }
  .release .board_search select {
    font-size: 16px;
  }
  .release .board_search {
    padding:40px;
  }
  .release .board_search input[type=search] {
    font-size: 16px;
  }
}






@media (max-width:767px) {
  #header.sub_header .lang_wrap .login {
    font-size: 13px;
  }

  .sub_container {
    padding-top:50px;
  }
  .login_page .inner {
    padding:0 15px;
  }
  .login_contents {
    padding:40px 0 100px;
  }
  .contents .inner {
    padding:0 15px;
  }

  /* 보도자료 */

  .release .sub_top>h2 {
    font-size: 24px;
    padding-top: 80px;
  }
  .release .contents .inner {
    padding: 0;
  }
  .release .board_list {
    padding: 0;
  }
  .release .contents {
    padding: 0 20px;
  }
  .release .board_list thead {
    display: none;
  }
  .release .board_list table tr {
    display: flex;
    flex-direction: column;
    height: 110px;
    padding: 15px 0;
  }
  .board_list td {
    border-bottom: none;
    text-align: left;
    height: none;
    color:var(--gray-500);
    letter-spacing: -0.8px;
    padding-left: 15px;
    font-size: 12px;
  }
  .board_list .td_left {
    padding-left: 15px;
    font-size: 14px;
  }
  .board_list .date {
    border-bottom:1px solid rgba(31, 31, 31, 0.1);
  }
  .board_list .last_date {
    border-bottom: none;
  }
  

  /* release-view */
  .release .contents .inner {
    padding: 15px 15px 0;

  }
  .board_view .view_tit {
    padding: 10px 20px;
    flex-direction: column;
    height: auto;
  }
  .board_view .view_tit h3 {
    width: 100%;
    font-size: 16px;
  }
  .board_view .view_tit .date {
    width: 100%;
    text-align: left;
    padding-top: 10px;
    font-size: 14px;
  }
  .board_view .view_paging dt {
    font-size: 14px;
    width: 63px;
  }
  .board_view .view_paging dd {
    padding-left: 20px;
    width: calc(99.99% - 63px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .board_view .view_paging dd>a {
    color: rgba(31, 31, 31, 0.6);
    font-size: 14px;
  }

  /* 글쓰기 */
  .release_write .contents .inner {
    padding: 15px 15px 15px 15px;
  }

  .board_write_wrap .col1 {
    width: 15%;
    font-size: 12px;
  }
  .board_write_wrap .col_mid {
    font-size: 12px;
  }
  .board_write_wrap .col_bottom {
    font-size: 12px;
  }
  .board_write_wrap .name_input {
    width: 35%;
  }
  .board_write_wrap .file_btn {
    font-size: 10px;
    width: 60px;
  }
}